@model  Core.ViewModels.HomeViewModel
@using View.Controllers
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPrivada.cshtml";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            @if (Model.Usuario.Fotos != null && Model.Usuario.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                            {
                                                <img width="110" height="110" src="~/Images/FotosDePerfil/@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                            }
                                            else
                                            {
                                                <img width="110" height="110"  src="~/Images/default-profile-pic.jpg" alt="">
                                            }
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3>@Model.Usuario.Nome</h3>
                                    </div>
                                </div>
                                <ul class="user-fw-status">
                                    <li>
                                        @Html.ActionLink(linkText: "Ver Perfil", actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = Model.Usuario.ID }, htmlAttributes: null)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            @using (Html.BeginForm(
                            actionName: nameof(UsuarioController.Postar),
                            controllerName: nameof(UsuarioController).Replace("Controller", ""),
                            method: FormMethod.Post,
                            htmlAttributes: null))
                            {
                                @Html.TextAreaFor(expression: _ => _.NovaPostagem.Corpo, htmlAttributes: new { @class = "post-topbar" })
                                <div class="post-st margin-bottom">
                                    <ul>
                                        <li><button type="submit" class="btn active">Postar</button></li>
                                    </ul>
                                </div>
                            }
                            @foreach (var post in Model.Postagens.OrderByDescending(_ => _.Criado))
                            {
                                <div class="posts-section">
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                @if (post.Autor.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                {
                                                    <img width="50" height="50" src="~/Images/FotosDePerfil/@post.Autor.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                }
                                                else
                                                {
                                                    <img width="50" height="50" src="~/Images/default-profile-pic.jpg" alt="avatar">
                                                }
                                                <div class="usy-name">
                                                    <h3>@post.Autor.Nome</h3>
                                                    <span>
                                                        <img src="images/clock.png" alt="">@{
                                                            var dataPostada = string.Empty;
                                                            dataPostada = (DateTime.UtcNow.Subtract(post.Criado).Days <= 1 ? ($"Hoje às { post.Criado.ToLocalTime().ToString("HH:mm") }") : post.Criado.ToLocalTime().ToLongDateString());
                                                        } @dataPostada
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job_descp">
                                            <p>@post.Corpo</p>
                                        </div>
                                        <div class="job-status-bar">
                                            <ul class="like-com">
                                                <li><a href="#" title="" class="com">Sem Comentários</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="post_topbar">
                                        <div class="usy-dt">

                                            <img src="images/resources/us-pic.png" alt="">
                                            <div class="usy-name">
                                                <h3>John Doe</h3>
                                                <span><img src="images/clock.png" alt="">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="ed-opts">
                                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                            <ul class="ed-options">
                                                <li><a href="#" title="">Edit Post</a></li>
                                                <li><a href="#" title="">Unsaved</a></li>
                                                <li><a href="#" title="">Unbid</a></li>
                                                <li><a href="#" title="">Close</a></li>
                                                <li><a href="#" title="">Hide</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="epi-sec">
                                        <ul class="descp">
                                            <li><img src="images/icon8.png" alt=""><span>Epic Coder</span></li>
                                            <li><img src="images/icon9.png" alt=""><span>India</span></li>
                                        </ul>
                                        <ul class="bk-links">
                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="job_descp">
                                        <h3>Senior Wordpress Developer</h3>
                                        <ul class="job-dt">
                                            <li><a href="#" title="">Full Time</a></li>
                                            <li><span>$30 / hr</span></li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
                                        <ul class="skill-tags">
                                            <li><a href="#" title="">HTML</a></li>
                                            <li><a href="#" title="">PHP</a></li>
                                            <li><a href="#" title="">CSS</a></li>
                                            <li><a href="#" title="">Javascript</a></li>
                                            <li><a href="#" title="">Wordpress</a></li>
                                        </ul>
                                    </div>
                                    <div class="job-status-bar">
                                        <ul class="like-com">
                                            <li>
                                                <a href="#">Like</a>
                                                <span>25</span>
                                            </li>
                                            <li><a href="#" title="" class="com">Comment 15</a></li>
                                        </ul>
                                        <a><i class="la la-eye"></i>Views 50</a>
                                    </div>
                                </div><!--post-bar end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>