@model  Core.ViewModels.HomeViewModel
@using View.Controllers
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPrivada.cshtml";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            @if (Model.Usuario.Fotos != null && Model.Usuario.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                            {
                                                <img width="110" height="110" src="~/Images/FotosDePerfil/@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                            }
                                            else
                                            {
                                                <img width="110" height="110" src="~/Images/default-profile-pic.jpg" alt="">
                                            }
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3>@Model.Usuario.Nome</h3>
                                    </div>
                                </div>
                                <ul class="user-fw-status">
                                    <li>
                                        @Html.ActionLink(linkText: "Ver Perfil", actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = Model.Usuario.ID }, htmlAttributes: null)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            @using (Html.BeginForm(
                            actionName: nameof(UsuarioController.Postar),
                            controllerName: nameof(UsuarioController).Replace("Controller", ""),
                            method: FormMethod.Post,
                            htmlAttributes: null))
                            {
                                @Html.TextAreaFor(expression: _ => _.NovaPostagem.Corpo, htmlAttributes: new { @class = "post-topbar" })
                                <div class="post-st margin-bottom">
                                    <ul>
                                        <li><button type="submit" class="btn active">Postar</button></li>
                                    </ul>
                                </div>
                            }
                            @foreach (var post in Model.Postagens.OrderByDescending(_ => _.Criado))
                            {
                                <div class="posts-section">
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                @if (post.Autor.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                {
                                                    <img width="50" height="50" src="~/Images/FotosDePerfil/@post.Autor.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                }
                                                else
                                                {
                                                    <img width="50" height="50" src="~/Images/default-profile-pic.jpg" alt="avatar">
                                                }
                                                <div class="usy-name">
                                                    <h3>
                                                        @Html.ActionLink(linkText: post.Autor.Nome, actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = post.Autor.ID }, htmlAttributes: null)
                                                    </h3>
                                                    <span>
                                                        <img src="images/clock.png" alt="">@{
                                                            var dataPostada = string.Empty;
                                                            dataPostada = (DateTime.UtcNow.Subtract(post.Criado).Days <= 1 ? ($"Hoje às { post.Criado.ToLocalTime().ToString("HH:mm") }") : post.Criado.ToLocalTime().ToLongDateString());
                                                        } @dataPostada
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job_descp">
                                            <p>@post.Corpo</p>
                                        </div>
                                        <div class="job-status-bar">
                                            <ul class="like-com">
                                                <li><a href="#" title="" class="com">Sem Comentários</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>