@model  Core.ViewModels.HomeViewModel
@using View.Controllers
@using Helpers
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPrivada.cshtml";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            @if (Model.Usuario.Fotos != null && Model.Usuario.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                            {
                                                <img width="110" height="110" src="~/Images/FotosDePerfil/@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                            }
                                            else
                                            {
                                                <img width="110" height="110" src="~/Images/default-profile-pic.jpg" alt="">
                                            }
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3>@Model.Usuario.Nome</h3>
                                    </div>
                                </div>
                                <ul class="user-fw-status">
                                    <li>
                                        @Html.ActionLink(linkText: "Ver Perfil", actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = Model.Usuario.ID }, htmlAttributes: null)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            @using (Html.BeginForm(
                            actionName: nameof(UsuarioController.Postar),
                            controllerName: nameof(UsuarioController).Replace("Controller", ""),
                            method: FormMethod.Post,
                            htmlAttributes: null))
                            {
                                @Html.TextAreaFor(expression: _ => _.NovaPostagem.Corpo, htmlAttributes: new { @class = "post-topbar" })
                                <div class="post-st margin-bottom">
                                    <ul>
                                        <li><button type="submit" class="btn active">Postar</button></li>
                                    </ul>
                                </div>
                            }
                            @foreach (var post in Model.Postagens.OrderByDescending(_ => _.Criado))
                            {
                                <div class="posts-section">
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                @if (post.Autor.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                {
                                                    <img width="50" height="50" src="~/Images/FotosDePerfil/@post.Autor.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                }
                                                else
                                                {
                                                    <img width="50" height="50" src="~/Images/default-profile-pic.jpg" alt="avatar">
                                                }
                                                <div class="usy-name">
                                                    <h3>
                                                        @Html.ActionLink(linkText: post.Autor.Nome, actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = post.Autor.ID }, htmlAttributes: null)
                                                    </h3>
                                                    <span>
                                                        <img src="images/clock.png" alt="">@{
                                                            var dataPostada = string.Empty;
                                                            dataPostada = (DateTime.UtcNow.Subtract(post.Criado).Days <= 1 ? ($"Hoje às { post.Criado.ToLocalTime().ToString("HH:mm") }") : post.Criado.ToLocalTime().ToLongDateString());
                                                        } @dataPostada
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job_descp">
                                            <p>@post.Corpo</p>
                                        </div>
                                        @using (Html.BeginForm(
                                        actionName: nameof(UsuarioController.Comentar),
                                        controllerName: nameof(UsuarioController).Replace("Controller", ""),
                                        method: FormMethod.Post,
                                        htmlAttributes: null))
                                        {
                                            <div class="job-status-bar">
                                                <textarea id="comentario" name="comentario" class="job-status-bar form-control" placeholder="Pressione enter para enviar o comentário."></textarea>
                                                <button type="submit" class="hidden"></button>
                                                <input type="text" id="postagemID" name="postagemID" value="@Seguranca.Encriptar(post.ID.ToString())" class="hidden" />
                                            </div>
                                        }
                                        @foreach (var comentario in post.Comentarios)
                                        {
                                            <div class="cool-border">
                                                <div class="usy-dt usy-name job-status-bar col-lg-12">
                                                    <div class="row">
                                                        @if (comentario.Autor.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                        {
                                                            <img width="40" height="40" src="~/Images/FotosDePerfil/@comentario.Autor.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                        }
                                                        else
                                                        {
                                                            <img width="40" height="40" src="~/Images/default-profile-pic.jpg" alt="avatar">
                                                        }
                                                        <h3>
                                                            @Html.ActionLink(linkText: comentario.Autor.Nome, actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = comentario.Autor.ID }, htmlAttributes: null)
                                                        </h3>
                                                        <span>
                                                            <img src="images/clock.png" alt="">@{
                                                                dataPostada = string.Empty;
                                                                dataPostada = (DateTime.UtcNow.Subtract(comentario.Criado).Days <= 1 ? ($"Hoje às { comentario.Criado.ToLocalTime().ToString("HH:mm") }") : comentario.Criado.ToLocalTime().ToLongDateString());
                                                            } @dataPostada
                                                        </span>
                                                    </div>
                                                    <div class="row margin-soft">
                                                        <div class="col-lg-12">
                                                            <p class="col-lg-offset-1">
                                                                @comentario.Conteudo
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">


    $(".job-status-bar.form-control").keydown(function (e) {
        if (e.keyCode === 13) {
            $(e.target.nextElementSibling).click();
        }
    });

</script>