@model Core.Entidades.Usuario
@using View.Controllers;
@{
    ViewBag.Title = "Crie Uma Conta";
    Layout = "~/Views/Shared/_LayoutPublica.cshtml";
}


<!-- Formulário multistep -->
@using (Html.BeginForm(
    actionName: nameof(UsuarioController.Adicionar),
    controllerName: nameof(UsuarioController).Replace("Controller", ""),
    method: FormMethod.Post,
    htmlAttributes: new
    {
        @id = "msform"
    }))
{

    <!-- Barra de progresso -->
    <ul id="progressbar">
        <li class="active">Detalhes da Conta</li>
        <li>Detalhes Pessoais</li>
        <li>Endereço</li>
    </ul>
    <!-- fieldsets -->
    <fieldset id="DadosConta">
        <h3 class="fs-title">Primeira Etapa</h3>
        <h3 class="fs-subtitle">Dados da conta</h3>
        @Html.TextBoxFor(expression: _ => _.Login, htmlAttributes: new { placeholder = "Login", type = "text", required = "required" })
        @Html.TextBoxFor(expression: _ => _.Email, htmlAttributes: new { placeholder = "Email", type = "email", required = "required" })
        @Html.TextBoxFor(expression: _ => _.Senha, htmlAttributes: new { placeholder = "Senha", type = "password", required = "required" })
        @Html.TextBox(name: "ConfirmacaoSenha", value: string.Empty, htmlAttributes: new { @id = "ConfirmacaoSenha", placeholder = "Confirme sua senha", type = "password", required = "required" })
        <i class="next action-button-icon far fa-arrow-alt-circle-right"></i>
    </fieldset>
    <fieldset id="DadosPessoais">
        <h2 class="fs-title">Segunda Etapa</h2>
        <h3 class="fs-subtitle">Dados pessoais</h3>
        @Html.TextBoxFor(expression: _ => _.Nome, htmlAttributes: new { placeholder = "Nome Completo", name = "nome", type = "text", required = "required" })
        @Html.TextBoxFor(expression: _ => _.Telefone, htmlAttributes: new { placeholder = "Telefone", name = "telefone", type = "tel", required = "required" })
        @Html.TextBoxFor(expression: _ => _.DataDeNascimento, htmlAttributes: new { placeholder = "Data de Nascimento", @class = "datepicker", name = "dataDeNascimento", required = "required" })
        <i class="previous action-button-icon far fa-arrow-alt-circle-left"></i>
        <i class="next action-button-icon far fa-arrow-alt-circle-right"> </i>
    </fieldset>
    <fieldset id="DadosEndereco">
        <i class="previous action-button-icon-small far fa-arrow-alt-circle-left"></i>
        <h2 class="fs-title">Última Etapa</h2>
        <h3 class="fs-subtitle">Endereço</h3>
        @Html.TextBoxFor(expression: _ => _.Pais, htmlAttributes: new { placeholder = "País", type = "text" })
        @Html.TextBoxFor(expression: _ => _.Estado, htmlAttributes: new { placeholder = "Estado", type = "text", required = "required" })
        @Html.TextBoxFor(expression: _ => _.Cidade, htmlAttributes: new { placeholder = "Cidade", type = "text", required = "required" })
        @Html.TextBoxFor(expression: _ => _.Endereco, htmlAttributes: new { placeholder = "Endereço", type = "text", required = "required" })
        @Html.TextBoxFor(expression: _ => _.Complemento, htmlAttributes: new { placeholder = "Complemento", type = "text" })
        <input type="submit" class="action-button submit" value="Enviar" />
    </fieldset>
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#Telefone").mask("(99) 9999-99999");
        $("#DataDeNascimento").mask("99/99/9999");
        $("#DataDeNascimento").datepicker();
    });

</script>

