@model  Core.ViewModels.PerfilViewModel
@using Helpers
@using View.Controllers
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutPrivada.cshtml";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            @if (Model.PodeEditar)
                                            {
                                                using (Html.BeginForm(
                                                actionName: nameof(UsuarioController.AtualizarAvatar),
                                                controllerName: nameof(UsuarioController).Replace("Controller", ""),
                                                method: FormMethod.Post,
                                                htmlAttributes: new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="container-image usr-pic">
                                                        @if (Model.Usuario.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                        {
                                                            <img width="110" height="110" src="~/Images/FotosDePerfil/@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                        }
                                                        else
                                                        {
                                                            <img width="110" height="110" src="~/Images/default-profile-pic.jpg" class="image" alt="Avatar">
                                                        }
                                                        <div class="overlay-image">
                                                            <a class="icon">
                                                                <i class='fa fa-plus'></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <input type="file" class="hidden" name="FotoDePerfil" id="FotoDePerfil" />
                                                    <input type="submit" class="hidden" id="sender" />
                                                    @Html.HiddenFor(expression: _ => _.PasseEncriptado, htmlAttributes: new { name = "p-target-w-f-u" })
                                                }
                                            }
                                            else
                                            {
                                                if (Model.Usuario.Fotos != null && Model.Usuario.Fotos.Any())
                                                {
                                                    <img width="110" height="110" src="~/Images/FotosDePerfil/@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Caminho" alt="Avatar">
                                                }
                                                else
                                                {
                                                    <img width="110" height="110" src="~/Images/default-profile-pic.jpg" alt="Avatar">
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3>@Model.Usuario.Nome</h3>
                                        <p>@Model.Usuario.Descricao</p>
                                    </div>
                                </div>
                                <ul class="nav-tabs user-fw-status">
                                    <li><a data-toggle="tab" href="#posts">Posts</a></li>
                                    <li><a data-toggle="tab" href="#informacoes">Informações</a></li>
                                    <li><a href="#amigos">Amigos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1 pd-left-none no-pd tab-content">
                        <div id="posts" class="main-ws-sec tab-pane fade in active">
                            @foreach (var post in Model.Postagens.OrderByDescending(_ => _.Criado))
                            {
                                <div class="posts-section">
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                @if (post.Autor.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                {
                                                    <img width="50" height="50" src="~/Images/FotosDePerfil/@post.Autor.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                }
                                                else
                                                {
                                                    <img width="50" height="50" src="~/Images/default-profile-pic.jpg" alt="avatar">
                                                }
                                                <div class="usy-name">
                                                    <h3>@post.Autor.Nome</h3>
                                                    <span>
                                                        <img src="images/clock.png" alt="">@{
                                                            var dataPostada = string.Empty;
                                                            dataPostada = (DateTime.UtcNow.Subtract(post.Criado).Days <= 1 ? ($"Hoje às { post.Criado.ToLocalTime().ToString("HH:mm") }") : post.Criado.ToLocalTime().ToLongDateString());
                                                        } @dataPostada
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job_descp">
                                            <p>@Html.Raw(post.Corpo)</p>
                                        </div>
                                        @using (Html.BeginForm(
                                                                               actionName: nameof(UsuarioController.Comentar),
                                                                               controllerName: nameof(UsuarioController).Replace("Controller", ""),
                                                                               method: FormMethod.Post,
                                                                               htmlAttributes: null))
                                        {
                                        <div class="job-status-bar">
                                            <div class="container col-lg-12">
                                                <div class="comment-input-row">
                                                    <div contenteditable="true" class="expandable-input col-lg-10" data-container="body" data-toggle="popover" data-html="true" data-placement="bottom" id="comentario">
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <i tabindex="0" class="fas fa-image expand-gif-search"></i>
                                                        <button id="buttonComentar" type="submit" class="btn btn-sm btn-primary pull-right">Comentar</button>
                                                    </div>
                                                    <input type="hidden" id="expandable" />
                                                    <input type="text" id="conteudoComentario" name="conteudoComentario" class="hidden" />
                                                </div>
                                            </div>
                                            <input type="text" id="postagemID" name="postagemID" value="@Seguranca.Encriptar(post.ID.ToString())" class="hidden" />
                                        </div>
                                        }
                                        @foreach (var comentario in post.Comentarios)
                                        {
                                            <div class="cool-border">
                                                <div class="usy-dt usy-name job-status-bar col-lg-12">
                                                    <div class="row">
                                                        @if (comentario.Autor.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                        {
                                                            <img width="40" height="40" src="~/Images/FotosDePerfil/@comentario.Autor.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                        }
                                                        else
                                                        {
                                                            <img width="40" height="40" src="~/Images/default-profile-pic.jpg" alt="avatar">
                                                        }
                                                        <h3>
                                                            @Html.ActionLink(linkText: comentario.Autor.Nome, actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = comentario.Autor.ID }, htmlAttributes: null)
                                                        </h3>
                                                        <span>
                                                            <img src="images/clock.png" alt="">@{
                                                                dataPostada = string.Empty;
                                                                dataPostada = (DateTime.UtcNow.Subtract(comentario.Criado).Days <= 1 ? ($"Hoje às { comentario.Criado.ToLocalTime().ToString("HH:mm") }") : comentario.Criado.ToLocalTime().ToLongDateString());
                                                            } @dataPostada
                                                        </span>
                                                    </div>
                                                    <div class="row margin-soft">
                                                        <div class="col-lg-12">
                                                            <p class="col-lg-offset-1">
                                                                @Html.Raw(comentario.Conteudo)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="informacoes" class="main-ws-sec tab-pane fade in">
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="job_descp">
                                        <div class="col-lg-12 text-center user-information-margin">
                                            @if (Model.PodeEditar)
                                            {
                                                <div class="col-lg-offset-11">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar">
                                                        Editar
                                                    </button>
                                                </div>
                                            }
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <h3>Sobre o Usuário</h3>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Nome Completo: </h3><h4>@Model.Usuario.Nome</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Data de Nascimento: </h3><h4>@Model.Usuario.DataDeNascimento.ToShortDateString()</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Telefone: </h3><h4>@Model.Usuario.Telefone</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Pais: </h3><h4>@Model.Usuario.Pais</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Estado: </h3><h4>@Model.Usuario.Estado</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Cidade: </h3><h4>@Model.Usuario.Cidade</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="amigos" class="tab-pane fade in">
                            <div class="posts-section">
                                <ul class="post-bar">
                                    @foreach (var usuario in Model.Amigos)
                                    {
                                        <li class="usy-dt alert alert-info margin-sides">
                                            @if (usuario.Fotos != null && usuario.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                            {
                                                <img width="50" height="50" src="~/Images/FotosDePerfil/@usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                            }
                                            else
                                            {
                                                <img width="50" height="50" src="~/Images/default-profile-pic.jpg" alt="avatar">
                                            }
                                            <div class="usy-name">
                                                <h3>
                                                    @Html.ActionLink(linkText: usuario.Nome, actionName: nameof(UsuarioController.Perfil), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { usuarioID = usuario.ID }, htmlAttributes: null)
                                                </h3>
                                                <span>@usuario.Descricao</span>
                                            </div>
                                            @if (Model.PodeEditar)
                                            {
                                                <div class="col-lg-offset-10">
                                                    @Html.ActionLink(linkText: " ", actionName: nameof(UsuarioController.DesfazerAmizade), controllerName: nameof(UsuarioController).Replace("Controller", ""), routeValues: new { convidadoID = usuario.ID }, htmlAttributes: new { @class = "fas fa-user-minus btn add-friend-button" })
                                                </div>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>


@Html.Partial("Editar");

<script>
    $('.nav-tabs li a').click(function () {
        $(this).tab('show');
    });


    $('.container-image').click(function () {
        $('#FotoDePerfil').click();
    });

    $("#FotoDePerfil").change(function (e) {
        $('#sender').click();
    });


    $(".job-status-bar.form-control").keydown(function (e) {
        if (e.keyCode === 13) {
            $(e.target.nextElementSibling).click();
        }
    });


</script>