@model  Core.ViewModels.PerfilViewModel
@using View.Controllers
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutPrivada.cshtml";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            @if (Model.PodeEditar)
                                            {
                                                using (Html.BeginForm(
                                                actionName: nameof(UsuarioController.AtualizarAvatar),
                                                controllerName: nameof(UsuarioController).Replace("Controller", ""),
                                                method: FormMethod.Post,
                                                htmlAttributes: new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="container-image usr-pic">
                                                        @if (Model.FotoDePerfil != null)
                                                        {
                                                            <img class="image" src="~/Images/FotosDePerfil/@Model.FotoDePerfil.Nome" alt="Avatar">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Images/default-profile-pic.jpg" class="image" alt="Avatar">
                                                        }
                                                        <div class="overlay-image">
                                                            <a class="icon">
                                                                <i class='fa fa-plus'></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <input type="file" class="hidden" name="FotoDePerfil" id="FotoDePerfil" />
                                                    <input type="submit" class="hidden" id="sender" />
                                                    @Html.HiddenFor(expression: _ => _.FU_pass, htmlAttributes: new { name = "p-target-w-f-u" })
                                                }
                                            }
                                            else
                                            {
                                                if (Model.Usuario.Fotos != null)
                                                {
                                                    <img src="@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Caminho" alt="Avatar">
                                                }
                                                else
                                                {
                                                    <img src="~/Images/default-profile-pic.jpg" alt="Avatar">
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3>@Model.Usuario.Nome</h3>
                                        <p>@Model.Usuario.Descricao</p>
                                    </div>
                                </div>
                                <ul class="nav-tabs user-fw-status">
                                    <li><a data-toggle="tab" href="#posts">Posts</a></li>
                                    <li><a data-toggle="tab" href="#informacoes">Informações</a></li>
                                    <li><a href="#amigos">Amigos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1 pd-left-none no-pd tab-content">
                        <div id="posts" class="main-ws-sec tab-pane fade in active">
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="post_topbar">
                                        <div class="usy-dt">

                                            <img src="images/resources/us-pic.png" alt="">
                                            <div class="usy-name">
                                                <h3>John Doe</h3>
                                                <span><img src="images/clock.png" alt="">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="ed-opts">
                                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                            <ul class="ed-options">
                                                <li><a href="#" title="">Edit Post</a></li>
                                                <li><a href="#" title="">Unsaved</a></li>
                                                <li><a href="#" title="">Unbid</a></li>
                                                <li><a href="#" title="">Close</a></li>
                                                <li><a href="#" title="">Hide</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="epi-sec">
                                        <ul class="descp">
                                            <li><img src="images/icon8.png" alt=""><span>Epic Coder</span></li>
                                            <li><img src="images/icon9.png" alt=""><span>India</span></li>
                                        </ul>
                                        <ul class="bk-links">
                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="job_descp">
                                        <h3>Senior Wordpress Developer</h3>
                                        <ul class="job-dt">
                                            <li><a href="#" title="">Full Time</a></li>
                                            <li><span>$30 / hr</span></li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
                                        <ul class="skill-tags">
                                            <li><a href="#" title="">HTML</a></li>
                                            <li><a href="#" title="">PHP</a></li>
                                            <li><a href="#" title="">CSS</a></li>
                                            <li><a href="#" title="">Javascript</a></li>
                                            <li><a href="#" title="">Wordpress</a></li>
                                        </ul>
                                    </div>
                                    <div class="job-status-bar">
                                        <ul class="like-com">
                                            <li>
                                                <a href="#">Like</a>
                                                <span>25</span>
                                            </li>
                                            <li><a href="#" title="" class="com">Comment 15</a></li>
                                        </ul>
                                        <a><i class="la la-eye"></i>Views 50</a>
                                    </div>
                                </div><!--post-bar end-->
                            </div>
                        </div>
                        <div id="informacoes" class="main-ws-sec tab-pane fade in">
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="job_descp">
                                        <div class="col-lg-12 text-center user-information-margin">
                                            @if (Model.PodeEditar)
                                            {
                                                <div class="col-lg-offset-11">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar">
                                                        Editar
                                                    </button>
                                                </div>
                                            }
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <h3>Sobre o Usuário</h3>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Nome Completo: </h3><h4>@Model.Usuario.Nome</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Data de Nascimento: </h3><h4>@Model.Usuario.DataDeNascimento.ToShortDateString()</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Telefone: </h3><h4>@Model.Usuario.Telefone</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Pais: </h3><h4>@Model.Usuario.Pais</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Estado: </h3><h4>@Model.Usuario.Estado</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Cidade: </h3><h4>@Model.Usuario.Cidade</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="amigos" class="tab-pane fade in">
                            Hello World
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@Html.Partial("Editar");

<script>
    $('.nav-tabs li a').click(function () {
        $(this).tab('show');
    });


    $('.container-image').click(function () {
        $('#FotoDePerfil').click();
    });

    $("#FotoDePerfil").change(function (e) {
        $('#sender').click();
    });

</script>