@model  Core.ViewModels.PerfilViewModel
@using View.Controllers
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutPrivada.cshtml";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            @if (Model.PodeEditar)
                                            {
                                                using (Html.BeginForm(
                                                actionName: nameof(UsuarioController.AtualizarAvatar),
                                                controllerName: nameof(UsuarioController).Replace("Controller", ""),
                                                method: FormMethod.Post,
                                                htmlAttributes: new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="container-image usr-pic">
                                                        @if (Model.Usuario.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                        {
                                                            <img width="110" height="110" src="~/Images/FotosDePerfil/@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                        }
                                                        else
                                                        {
                                                            <img width="110" height="110" src="~/Images/default-profile-pic.jpg" class="image" alt="Avatar">
                                                        }
                                                        <div class="overlay-image">
                                                            <a class="icon">
                                                                <i class='fa fa-plus'></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <input type="file" class="hidden" name="FotoDePerfil" id="FotoDePerfil" />
                                                    <input type="submit" class="hidden" id="sender" />
                                                    @Html.HiddenFor(expression: _ => _.FU_pass, htmlAttributes: new { name = "p-target-w-f-u" })
                                                }
                                            }
                                            else
                                            {
                                                if (Model.Usuario.Fotos != null)
                                                {
                                                    <img src="@Model.Usuario.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Caminho" alt="Avatar">
                                                }
                                                else
                                                {
                                                    <img src="~/Images/default-profile-pic.jpg" alt="Avatar">
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3>@Model.Usuario.Nome</h3>
                                        <p>@Model.Usuario.Descricao</p>
                                    </div>
                                </div>
                                <ul class="nav-tabs user-fw-status">
                                    <li><a data-toggle="tab" href="#posts">Posts</a></li>
                                    <li><a data-toggle="tab" href="#informacoes">Informações</a></li>
                                    <li><a href="#amigos">Amigos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1 pd-left-none no-pd tab-content">
                        <div id="posts" class="main-ws-sec tab-pane fade in active">
                            @foreach (var post in Model.Postagens.OrderByDescending(_ => _.Criado))
                            {
                                <div class="posts-section">
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                @if (post.Autor.Fotos.Any(_ => _.Status == Core.Enums.Status.Ativo))
                                                {
                                                    <img width="50" height="50" src="~/Images/FotosDePerfil/@post.Autor.Fotos.First(_ => _.Status == Core.Enums.Status.Ativo).Nome" alt="avatar">
                                                }
                                                else
                                                {
                                                    <img width="50" height="50" src="~/Images/FotosDePerfil/default-profile-pic.jpg" alt="avatar">
                                                }
                                                <div class="usy-name">
                                                    <h3>@post.Autor.Nome</h3>
                                                    <span>
                                                        <img src="images/clock.png" alt="">@{
                                                            var dataPostada = string.Empty;
                                                            dataPostada = (DateTime.UtcNow.Subtract(post.Criado).Days <= 1 ? ($"Hoje às { post.Criado.ToLocalTime().ToString("HH:mm") }") : post.Criado.ToLocalTime().ToLongDateString());
                                                        } @dataPostada
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job_descp">
                                            <p>@post.Corpo</p>
                                        </div>
                                        <div class="job-status-bar">
                                            <ul class="like-com">
                                                <li><a href="#" title="" class="com">Sem Comentários</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="informacoes" class="main-ws-sec tab-pane fade in">
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="job_descp">
                                        <div class="col-lg-12 text-center user-information-margin">
                                            @if (Model.PodeEditar)
                                            {
                                                <div class="col-lg-offset-11">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar">
                                                        Editar
                                                    </button>
                                                </div>
                                            }
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <h3>Sobre o Usuário</h3>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Nome Completo: </h3><h4>@Model.Usuario.Nome</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Data de Nascimento: </h3><h4>@Model.Usuario.DataDeNascimento.ToShortDateString()</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Telefone: </h3><h4>@Model.Usuario.Telefone</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Pais: </h3><h4>@Model.Usuario.Pais</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Estado: </h3><h4>@Model.Usuario.Estado</h4>
                                                </div>
                                                <div class="row headers-inline user-details-bottom">
                                                    <h3>Cidade: </h3><h4>@Model.Usuario.Cidade</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="amigos" class="tab-pane fade in">
                            Hello World
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@Html.Partial("Editar");

<script>
    $('.nav-tabs li a').click(function () {
        $(this).tab('show');
    });


    $('.container-image').click(function () {
        $('#FotoDePerfil').click();
    });

    $("#FotoDePerfil").change(function (e) {
        $('#sender').click();
    });

</script>